.selectCameraWrapper {
  margin-left: auto;
  position: relative;
  cursor: pointer;
  border: 1px solid #9ca3af;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  padding-left: 15px;
  padding-right: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}
.selectCamera {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
