.scannerWrapper {
  background-color: #030712;
  color: #f3f4f6;
  position: relative;
  color-scheme: dark;
}

.dragOver {
  position: absolute;
  inset: 20px;
  border: 3px dashed #f43f5e;
  background-color: #f43f5e33;
  border-radius: 20px;
  transition: visibility 0.2s, opacity 0.2s;
  pointer-events: none;
  z-index: 5;
}
.dragOverHidden {
  opacity: 0;
  visibility: hidden;
}

.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65px;
  gap: 10px;
  padding: 0 15px;
}
.chooseCentered {
  margin: auto 0;
}
@media (max-width: 530px) {
  .choose {
    padding: 10px;
    gap: 0;
    flex-direction: column;
  }
  .scanning {
    flex-direction: row;
  }
  .scanning {
    & .orScanOption,
    & .chooseFileLabel {
      display: none;
    }
  }
  .scanning .scanBtn {
    margin: 0;
  }
}
@media (max-width: 950px) {
  :global(.welcome) .choose {
    flex-direction: column;
  }
}
.orScanOption {
  color: #9ca3af;
}
.chooseFile {
  color: #f43f5e;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.scanBtn {
  background-color: #f43f5e;
  color: white;
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 6px 3px;
  &:hover {
    background-color: #e11d48;
  }
}
.heightConstraint {
  height: 0;
  flex: auto;
  width: calc(100% - 20px);
  margin: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.widthConstraint {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.selectedImage {
  height: 100%;
  border-radius: 10px;
}
.shadow {
  fill-rule: evenodd;
  animation: shadow-in 1s forwards;
}
@keyframes shadow-in {
  from {
    fill: transparent;
  }
  to {
    fill: rgba(0, 0, 0, 0.8);
  }
}
.shadowOutline {
  fill: none;
  stroke: #f43f5e;
  stroke-width: 2;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}
.scanRegion {
  fill: none;
  stroke: orange;
  stroke-width: 2;
  stroke-linejoin: round;
  rx: 10;
}
.status {
  border-top: 1px solid #374151;
  margin-top: 16px;
  text-align: initial;
  max-height: 150px;
  overflow: auto;
}
.statusText {
  padding: 20px;
  color: #9ca3af;
}
