.labelWrapper {
  display: flex;
  align-items: center;
  @media (max-width: 460px) {
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }
}
.label {
  width: 125px;
  flex: none;
  white-space: nowrap;
}
.buttonGroup {
  flex: auto;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
}
.option {
  cursor: pointer;
  &:not(.selected):hover {
    background-color: #f9fafb;
  }
}
.selected {
  background-color: #f43f5e;
  color: white;
}
.eclButtonGroup {
  grid-template-columns: repeat(4, 1fr);
}
.ecl {
  padding: 5px 10px;
  display: grid;
  gap: 0 5px;
  grid-template-columns: auto auto;
  grid-template-areas:
    'letter percent'
    'name name';
}
.eclLetter {
  font-weight: bold;
  grid-area: letter;
}
.eclName {
  grid-area: name;
  font-size: 0.8em;
}
.eclPercent {
  grid-area: percent;
}
.maskButtonGroup {
  grid-template-columns: auto repeat(8, 1fr);
}
.maskOption {
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.maskAuto {
  padding: 5px 10px;
}
.mask {
  stroke: currentColor;
  border: 1px solid currentColor;
  aspect-ratio: 1 / 1;
}
.inUse {
  background-color: #f43f5e;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: -4px;
}
.input {
  height: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  flex: auto;
  padding: 0 10px;
}
.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}
.checkboxChecked {
  background-color: #f43f5e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  border-color: transparent;
}
