.qrTextWrapper {
  position: relative;
  flex: none;
  max-height: 150px;
  overflow: hidden;
  :global(.welcome) & {
    margin: 0 40px;
    height: 65px;
    & textarea {
      overflow: hidden;
    }
  }
}
.qrText,
.qrTextSizer {
  padding: 20px;
  border-top: 1px solid #9ca3af;
  :global(.welcome) & {
    border: 1px solid #9ca3af;
    border-radius: 10px;
  }
}
.qrText {
  position: absolute;
  inset: 0;
  resize: none;
  &:focus {
    outline: none;
  }
}
.qrTextSizer {
  visibility: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
}
