html,
body,
#root,
.main {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  box-sizing: border-box;
  padding-bottom: env(keyboard-inset-height, 0px);
}
textarea,
button,
input {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}
button:not(:disabled) {
  cursor: pointer;
}
::placeholder {
  color: inherit;
  opacity: 0.5;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main {
  display: flex;
  flex-direction: column;
}
.welcome {
  flex-direction: row;
  @media (max-width: 950px) {
    flex-direction: column;
  }
}
.section {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.or-wrapper {
  align-self: center;
  position: relative;
}
.or {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 3px solid #030712;
  padding: 5px 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.8em;
}
.heading {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 20px;
}
.tabs {
  display: flex;
}
.tab {
  flex: 1 0 0;
  height: 40px;
}
.tab-selected-generate {
  background-color: white;
  & .tab-scan {
    border-bottom-right-radius: 10px;
  }
}
.tab-selected-scan {
  background-color: #030712;
  & .tab-generate {
    border-bottom-left-radius: 10px;
  }
}

.generate-wrapper,
.tab-generate {
  background-color: white;
  color: #030712;
}
.generated-qr {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  height: 0;
  margin: auto 0;
  flex: auto;
  object-fit: contain;
  box-sizing: border-box;
  @media (max-aspect-ratio: 1.25) {
    padding: 60px 0;
  }
}
.qr-text-wrapper {
  position: relative;
  flex: none;
  max-height: 150px;
  overflow: hidden;
  .welcome & {
    margin: 0 40px;
    height: 65px;
    & textarea {
      overflow: hidden;
    }
  }
}
.qr-text,
.qr-text-sizer {
  padding: 20px;
  border-top: 1px solid #9ca3af;
  .welcome & {
    border: 1px solid #9ca3af;
    border-radius: 10px;
  }
}
.qr-text {
  position: absolute;
  inset: 0;
  resize: none;
  &:focus {
    outline: none;
  }
}
.qr-text-sizer {
  visibility: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
}
.generate-btns-wrapper {
  position: relative;
  text-align: left;
  transition: opacity 0.2s;
}
.generate-btns-empty {
  opacity: 0;
}
.generate-btns {
  position: absolute;
  inset: 0;
  top: auto;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}
.generate-btn {
  display: flex;
  padding: 12px;
  & svg {
    stroke: #6b7280;
  }
  .gen-panel-wrapper:hover &,
  .gen-panel-wrapper:focus-within &,
  &:hover {
    svg {
      stroke: #111827;
    }
  }
}
.gen-panel-wrapper {
  position: relative;
}
.gen-panel {
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.1);
  width: max-content;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
  .gen-panel-wrapper:hover &,
  .gen-panel-wrapper:focus-within & {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
.downloads {
  right: 50%;
  transform: translate(50%, 10px);
  .gen-panel-wrapper:hover &,
  .gen-panel-wrapper:focus-within & {
    transform: translateX(50%);
  }
}
.download-btn {
  padding: 10px;
  display: flex;
  gap: 10px;
  &:hover {
    background-color: #f9fafb;
  }
}
.settings {
  padding: 10px;
  gap: 10px;
}
.label-wrapper {
  display: flex;
  align-items: center;
  @media (max-width: 460px) {
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }
}
.label {
  width: 125px;
  flex: none;
  white-space: nowrap;
}
.button-group {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  overflow: hidden;
  flex: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.ecl {
  padding: 5px 10px;
  display: grid;
  gap: 0 5px;
  grid-template-columns: auto auto;
  grid-template-areas:
    'letter percent'
    'name name';
  cursor: pointer;
  &:not(.ecl-selected):hover {
    background-color: #f9fafb;
  }
}
.ecl-selected {
  background-color: #f43f5e;
  color: white;
}
.ecl-letter {
  font-weight: bold;
  grid-area: letter;
}
.ecl-name {
  grid-area: name;
  font-size: 0.8em;
}
.ecl-percent {
  grid-area: percent;
}
.input {
  height: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  flex: auto;
  padding: 0 10px;
}

.scanner-wrapper,
.tab-scan {
  background-color: #030712;
  color: #f3f4f6;
}
.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65px;
  gap: 10px;
  @media (max-width: 950px) {
    flex-direction: column;
  }
}
.or-scan-option {
  color: #9ca3af;
}
.choose-file {
  color: #f43f5e;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.scan-btn {
  background-color: #f43f5e;
  color: #030712;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 6px 3px;
  &:hover {
    background-color: #e11d48;
  }
}
.height-constraint {
  height: 0;
  flex: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.width-constraint {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.selected-image {
  height: 100%;
  border-radius: 10px;
}
.shadow {
  fill-rule: evenodd;
  animation: shadow-in 1s forwards;
}
@keyframes shadow-in {
  from {
    fill: transparent;
  }
  to {
    fill: rgba(0, 0, 0, 0.8);
  }
}
.shadow-outline {
  fill: none;
  stroke: #f43f5e;
  stroke-width: 2;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}
.scan-region {
  fill: none;
  stroke: orange;
  stroke-width: 2;
  stroke-linejoin: round;
  rx: 10;
}
