html,
body,
#root {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  box-sizing: border-box;
  padding-bottom: env(keyboard-inset-height, 0px);
}
textarea,
button,
input {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}
button:not(:disabled) {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
::placeholder {
  color: inherit;
  opacity: 0.5;
}

.hidden-accessible {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
